- name: Creates /etc/hosts file
  template: src="../templates/hosts.j2" dest=/etc/hosts

- name: Sets hostname
  template:
    src: "../templates/hostname.j2" 
    dest: /etc/hostname
  notify: Reload hostname

