####################################
#                                  #
#         Ansible Managed          #
#       ansible-hosts role         #
#                                  #
####################################

127.0.0.1 {{ [ "localhost.localdomain", "localhost", inventory_hostname, ansible_hostname,ansible_fqdn ] | unique | join(' ') }}
::1       localhost.localdomain localhost

{% for host in groups['all'] %}
{%   if hostvars[host]['ansible_interfaces'] is defined and host != inventory_hostname %}
{%     for iface in hostvars[host]['ansible_interfaces'] %}
{%       if iface != 'lo' and 'active' in hostvars[host]['ansible_'+iface] and 'ipv4' in hostvars[host]['ansible_'+iface] %}
{{hostvars[host]['ansible_'+iface].ipv4.address}} {{ hostvars[host]['inventory_hostname']+'-'+iface }} {% if iface == 'eth0' or iface == 'em1' %}{{ hostvars[host]['inventory_hostname'] }}{% endif %}

{%       endif %}
{%     endfor %}
{%   endif %}
{% endfor %}
{% for host in hosts_more_entries %}
{{ host.ip }} {{ host.name }}
{% endfor %}
